<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .container-fluid {
        padding: 80px 120px;
      }
    </style>
</head>
<body>
<div class="container-fluid text-center bg-light">
    <h2 class="font-weight-bold text-dark font-italic">Oops! Error Occurred</h2>
</div>
</body>
</html>